<div class="main">
<h3 mat-dialog-title><b>PRESENT CANDIDATES</b></h3>
<div *ngFor="let i of pool.participants">
{{i}}
<a mat-button (click)="reject(i)"><mat-icon class="b" aria-hidden="false" aria-label="create">close</mat-icon></a>
</div>
<br>
<h3 mat-dialog-title><b>REQUESTS</b></h3>
<span mat-dialog-content>Rishikesh
<a mat-button (click)="accept(title1)"><mat-icon class="a" aria-hidden="true" aria-label="create">check</mat-icon></a>
<a mat-button (click)="reject(title1)"><mat-icon class="b" aria-hidden="false" aria-label="create">close</mat-icon></a>
</span>
<ng-container *ngIf="checkParticipant(title)">
<span *ngIf="checkParticipant(title)" mat-dialog-content>Sanya
<a mat-button (click)="accept(title)"><mat-icon class="a" aria-hidden="true" aria-label="create">check</mat-icon></a>
<a mat-button (click)="reject(title)"><mat-icon class="b" aria-hidden="false" aria-label="create">close</mat-icon></a>
</span> 
</ng-container>
</div>