<app-navbar></app-navbar>
<div class="head"><h3>PAST RIDES</h3></div>
<div *ngFor="let pool of pools">
<ng-container *ngIf="pool.participants[0] === username || pool.participants[1] === username || pool.participants[2] === username ">
<ng-container *ngIf="compareDates(pool.date)">
<mat-card class="example-card">
<p><b>{{pool.from}} > {{pool.to}}</b></p>
<h5><b>{{pool.name}}'s Cab</b></h5>
<hr>
<mat-card-content>
<pre><b>
Leaves On           At               
{{pool.date}}      {{pool.time}}               
</b></pre>
</mat-card-content>
  <mat-card-footer class="footer">
  <mat-card-actions align=end>
    <a mat-button (click)="delete(pool._id)"><mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon></a>
  </mat-card-actions>
  </mat-card-footer>
</mat-card>
</ng-container>
</ng-container>
</div>
<!-- <ng-container *ngFor="let pool of pools">
<ng-container *ngIf="pool.participants[0] === username || pool.participants[1] === username || pool.participants[2] === username ">
<mat-card class="example">
<pre><p><b>{{pool.from}} > {{pool.to}}</b></p></pre>
<h5><b>{{pool.name}}'s Cab</b></h5>
<mat-card-content>
<pre><b>
Leaves On           At               
{{pool.date}}      {{pool.time}}                  
</b></pre>
<b><pre><h4 style="color:rgb(187, 213, 214)">Welcome, {{username}}!</h4></pre></b>
</mat-card-content>
</mat-card>
</ng-container>
<br><br>
</ng-container> -->
<router-outlet></router-outlet>
