<app-navbar></app-navbar>
<router-outlet></router-outlet>
<br>
<br>
<body class="bg">
<div style="align-content:center;margin: 0 auto;padding-left:10.8cm;">
<!-- <div style="align-content:center;margin: 0 auto;padding-left:5.5cm;">
<h1>RIDE SHARE</h1>
</div>
<div style="align-content:center;margin: 0 auto;padding-left:5.6cm;">
<h3>Your Travel Buddy</h3>
</div> -->
<br><br>
</div>
<br>
<iframe style="margin-left:300px; margin-top:100px" width="800" height="400" src="https://www.youtube.com/embed/L2fwn-ySit4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</body>      