<app-navbar></app-navbar>
<router-outlet></router-outlet>
<br>
<br>
<div style="align-content:center;margin: 0 auto;padding-left:10.8cm;">
<div style="align-content:center;margin: 0 auto;padding-left:6cm;">
<h2>Ride Share</h2>
</div>
<div style="align-content:center;margin: 0 auto;padding-left:5.6cm;">
<h3>Your Travel Buddy</h3>
</div>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/_JVzkvYRHiE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


            