.spacer{
    flex: 1 1 auto;
}
.navbar-item{
    width: 46px;
    height: 10 px;
    border-radius: 50%;
    margin-top: -6px;
    opacity: 1;
    /* background-color:rgba(224, 42, 42, 0.39) */
}