<mat-toolbar class="navbar is-white">

<a class="navbar-item">
<img src="assets/img/RideShare1.png">
</a>


<div class="spacer"></div>

<a style="color:brown;" mat-button href="about" ><b>HOME</b></a>
<a style="color:brown;" mat-button href="joinpool"><b>JOIN POOL</b></a>
<a style="color:brown;" mat-button  href="createpool"><b>CREATE POOL</b></a>
<a style="color:brown;" mat-button href="currentpool"><b>MY RIDES</b></a>
<a style="color:brown;" mat-button (click)="logout()" ><b>LOGOUT</b></a>

</mat-toolbar>
<router-outlet></router-outlet>
