<app-navbar></app-navbar>
<html style="background-color:rgb(158, 6, 6);">
<body class="bg">
<br><br><br><br>
<!-- <div class="head"><h3>ACCEPTED REQUESTS</h3></div> -->
<ng-container *ngFor="let pool of pools">
<ng-container *ngIf="pool.participants[0] === username || pool.participants[1] === username || pool.participants[2] === username ">
<mat-card class="example">
<pre><p><b>{{pool.from}} > {{pool.to}}</b></p></pre>
<h5><b>{{pool.name}}'s Cab</b></h5>
<mat-card-content>
<pre><b>
Leaves On           At               
{{pool.date}}      {{pool.time}}                  
</b></pre>
<b><pre><h4 style="color:rgb(187, 213, 214)">Welcome, {{username}}!</h4></pre></b>
</mat-card-content>
</mat-card>
</ng-container>
<br><br>
</ng-container>
<div class="head"><h3>CURRENT POOLS</h3></div>
<ng-container *ngFor="let pool of pools">
<ng-container *ngIf="pool.name === username">
                <br><br>
<mat-card class="example-card">
<pre><p><b>{{pool.from}} > {{pool.to}}</b></p></pre>
<h5><b>{{pool.name}}'s Cab</b></h5>
<mat-card-content>
<pre><b>
Leaves On           At               Vacancy
{{pool.date}}         {{pool.time}}           {{pool.vacancy}}             
</b></pre>
</mat-card-content>
<mat-card-actions class ="footer" align=end>
<a mat-button (click)="openDialog1(pool)"><mat-icon aria-hidden="false" aria-label="create">create</mat-icon></a>
        <!-- <button (click)="openDialog1(pool._id)">update</button> -->
<a mat-button (click)="delete(pool._id)"><mat-icon aria-hidden="false" aria-label="delete">delete</mat-icon></a>
<!-- <button (click)="delete(pool._id)">delete</button> -->
</mat-card-actions>
</mat-card>
<br>
</ng-container>
</ng-container>

<br><br><br><br>
<div class="head"><a mat-button href="pastrides"><h3><b>VIEW PAST RIDES</b></h3></a></div>
</body>
</html>
<router-outlet></router-outlet>