.example-card{
    margin: 0 auto;
    height: 220px;
    width: 30%;
    justify-content: center;
    align-items: center;
    background:#4C4848;
    color:white;
}
.head{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align:center
}
.a{
    background: #C6302C;
}
body,
html {
  background-color: brown;
}

.bg {
  /* The image used */
  background-image: url("../../assets/img/ridepage.png");
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-color: brown;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}