.example-card{
    margin: 0 auto;
    height: 180px;
    width: 30%;
    justify-content: center;
    align-items: center;
    background:#4C4848;
    color:white;
}
.head{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align:center
}
.a{
    background: #C6302C;
}