<app-navbar></app-navbar>
<body class="bg" style="background-color: brown">
<!-- <div class="head"><h3>AVAILABLE POOLS</h3></div> -->
<br><br>
<div *ngFor="let pool of pools">
    <br><br>
    <ng-container *ngIf ="(pool.vacancy != pool.participants.length)">
<mat-card class="example-card">
<pre><p><b>{{pool.from}} > {{pool.to}}</b></p></pre>
<h5><b>{{pool.name}}'s Cab</b></h5>
<hr>
<mat-card-content>

    <table>
        <tr><th>Leaves On</th><pre> </pre><th>At</th><pre>  </pre><th>Vacancy</th></tr>
        <tr><td>{{pool.date}}</td><pre>    </pre><td>{{pool.time}}</td><pre>     </pre><td>{{pool.vacancy}}</td></tr>
    </table>        

<a class="a" mat-button (click)="join(pool)"><b>Join Pool</b></a>
</mat-card-content>
</mat-card>
<br><br>
</ng-container>
</div>
<br><br>
</body>
<router-outlet></router-outlet>


