<mat-toolbar class="navbar is-white">

    <a class="navbar-item">
    <img src="assets/img/RideShare1.png">
    </a>
    
    
    <div class="spacer"></div>
    

    </mat-toolbar>
    <router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-item">
      <img src="assets/image/RideShare1.png">
      </a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Register
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User Page</a>
        </li>
    </ul>
</div>
</nav>
<div class="continer-fluid">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <router-outlet></router-outlet>
    </div>
</div>
</div> -->
<div class="form1" style="margin-top:40px; padding:20px; background-color:#9c0b0b;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
<div class ="main1"class="col-sm-12" style="text-align:center;">
   <br><br>
    <h1>LOGIN</h1>
  </div>

  <div class="col-sm-12">
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label><br>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label><br>
        <input formControlName="password" type="password" class="form-control" id="passwordInput" aria-describedby="passHelp" placeholder="password">
        <small id="passHelp" class="form-text text-muted"></small>
      </div>
<br><br>
      <div class="form-group" style="text-align:center;">
        <button type="button" class="btn btn-primary" (click)="login()">LOG IN</button>
          <button type="button" class="btn btn-secondary" (click)="moveToRegister()">REGISTER</button>
      </div>
    </form>
  </div>
</div>