.one {
  text-align: center;
  padding-top: 2cm;
}
.a {
  position:absolute;
  left:20cm;
  top:6cm;
}
.two {
  position:absolute;
  left:13cm;
  top:6.5cm;
}
.b {
  position:absolute;
  left:20cm;
  top:8cm;
  width:30px;
}
.three {
  position:absolute;
  left:13cm;
  top:8.5cm;
}
.c {
  position:absolute;
  left:20cm;
  top:10cm;
}
.four {
  position:absolute;
  left:13cm;
  top:10.5cm;
}

.d {
  position:absolute;
  left:20cm;
  top:12.2cm;
}
.five {
  position:absolute;
  left:13cm;
  top:12.5cm;
}

.e {
  position:absolute;
  left:20cm;
  top:14cm;
 }
.six {
  position:absolute;
  left:13cm;
  top:14.5cm;
}
.f{
  position:absolute;
  left:20cm;
  top:16.5cm;
}
.seven{
  position:absolute;
  left:13cm;
  top:16.5cm;
}

.spacer{
  flex: 1 1 auto;
}
.navbar-item{
  width: 46px;
  height: 10 px;
  border-radius: 50%;
  margin-top: -6px;
  opacity: 1;
}
body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("../../assets/img/createride.png");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}