<app-navbar></app-navbar>
<br>
    
    <h2><p class="one">ENTER THE TRAVEL DETAILS</p></h2>

    <form [formGroup]="createForm">
        <h4><p class="two">NAME?</p></h4>
        <mat-form-field class="form-group" class="a">
            <input matInput formControlName="name" type="text" class="form-control" placeholder="Required">
        </mat-form-field>

        <h4><p class="three">WHERE TO?</p></h4>
        <div class="form-group" class="b">
          <mat-form-field>
             <mat-select formControlName="to" class="form-control">
               <mat-option value="DELHI">Delhi</mat-option>
               <mat-option value="NU">NIIT University</mat-option>
               <mat-option value="GURUGRAM">Gurgaon</mat-option>
               </mat-select>
              </mat-form-field>
          </div>

        <h4><p class="four">WHERE FROM?</p></h4>
        <div class="form-group" class="c">
          <mat-form-field>
             <mat-select formControlName="from" class="form-control" placeholder="Required">
               <mat-option value="DELHI">Delhi</mat-option>
               <mat-option value="NU">NIIT University</mat-option>
               <mat-option value="GURUGRAM">Gurgaon</mat-option>
             </mat-select>
            </mat-form-field>
         </div>
  
      <h4><p class="five">WHEN?</p></h4>

              <div class="form-group" class="d" > 
                <input formControlName="date" type="text" class="form-control" placeholder="yyyy/mm/dd">
              </div>
            <h4><p class="seven">AT?</p></h4>
            <div class="form-group" class ="f">
                <input formControlName="time" type="text" class="form-control" placeholder="xx:xx pm/am">
              </div>
          
      <h4><p class="six">VACANCY ?</p></h4>
      <div class="form-group" class="e">
        <mat-form-field>
           <mat-select formControlName="vacancy" class="form-control" placeholder="Required">
             <mat-option value=1>1</mat-option>
             <mat-option value=2>2</mat-option>
             <mat-option value=3>3</mat-option>
             </mat-select>
            </mat-form-field>
       </div>

      <div class="form-group" style="text-align:center; ">
        <a mat-stroked-button class="form-control" style="color: brown; margin-top: 13cm" (click)="CreateComponent()" >CREATE RIDE</a>
      </div>

      <p style="font-size:x-small;position: absolute;top:20cm ;left: 500px;"><i>
          YOU WILL BE ABLE TO EDIT YOUR POOL IN "MY RIDES" AFTER CREATING POOL.</i></p>
          <!-- <p style="font-size:large;position: absolute;top: 15cm;left: 500px;"> Contact us: help@rideshare.com | Support our cause:</p> -->
  

    </form>

    <router-outlet></router-outlet>