.one {
  text-align: center;
  padding-top: 2cm;
}
.a {
  position:absolute;
  left:21.5cm;
  top:6.5cm;
}
.two {
  position:absolute;
  left:16.5cm;
  top:6.5cm;
}
.b {
  position:absolute;
  left:22.5cm;
  top:8cm;
  width:30px;
}
.three {
  position:absolute;
  left:16.5cm;
  top:8.5cm;
}
.c {
  position:absolute;
  left:22.5cm;
  top:10cm;
}
.four {
  position:absolute;
  left:16.5cm;
  top:10.5cm;
}

.d {
  position:absolute;
  left:21.5cm;
  top:12.5cm;
}
.five {
  position:absolute;
  left:16.5cm;
  top:12.5cm;
}

.e {
  position:absolute;
  left:22.5cm;
  top:14cm;
 }
.six {
  position:absolute;
  left:16.5cm;
  top:14.5cm;
}
.f{
  position:absolute;
  left:21.5cm;
  top:16.5cm;
}
.seven{
  position:absolute;
  left:16.5cm;
  top:16.5cm;
}

.spacer{
  flex: 1 1 auto;
}
.navbar-item{
  width: 46px;
  height: 10 px;
  border-radius: 50%;
  margin-top: -6px;
  opacity: 1;
}