.example-card{
    margin: 0 auto;
    height: 150px;
    width: 30%;
    justify-content: center;
    align-items: center;
    background:#4C4848;
    color:white;
}
.head{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align:center
}
.footer{
    background:white;
    color:black;
}

.spacer{
    flex: 1 1 auto;
}
.navbar-item{
    width: 46px;
    height: 10 px;
    border-radius: 50%;
    margin-top: -6px;
    opacity: 1;
}

body,
html {
  height: 100%;
  background-color: brown;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}